<h1 class="text-center mt-4">Listing all players</h1>

<div class="container">
  <% @players.each do |player| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header fst-italic">
            <%= player.name %>
          </div>
          <div class="card-body">
            <h5 class="card-title"> <%= player.position %> </h5>
            <p class="card-text"> Age: <%= player.age %> </p>
            <%= link_to "View", player_path(player), class: "btn btn-outline-success" %>
            <%= link_to "Edit", edit_player_path(player), class: "btn btn-outline-info" %>
            <%= link_to "Delete", player_path(player), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
