<%= form_with(model: maatch) do |form| %>
  <% if maatch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(maatch.errors.count, "error") %> prohibited this maatch from being saved:</h2>

      <ul>
        <% maatch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :home_team_id, style: "display: block" %>
    <%= form.number_field :home_team_id %>
  </div>

  <div>
    <%= form.label :away_team_id, style: "display: block" %>
    <%= form.number_field :away_team_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
