<div id="<%= dom_id maatch %>">
  <p>
    <strong>Location:</strong>
    <%= maatch.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= maatch.date %>
  </p>

  <p>
    <strong>Home team:</strong>
    <%= maatch.home_team_id %>
  </p>

  <p>
    <strong>Away team:</strong>
    <%= maatch.away_team_id %>
  </p>

</div>
